html{
 box-sizing: inherit;
 font-family: sans-serif;
}

body{
    /*background-color: antiquewhite;*/
}  

#container{
    width: 600px;
    height: 700px;
    border: 1px solid transparent;
    background-color:#eee;
}

.fb-logo{
    width: 100%;
    height: 150px;
    display:flex;
    top:auto;
}

#language-option{
    margin-left: 5px;
    padding:1px;
}
#detail{
  padding: 2px;  
}

 #first-form {
    
    align-items: center;
    margin-top: 14%;
    
}
input{
    text-align: center;
    width: 35%;
    margin:auto;
    padding: 6px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: right;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid blue;
    margin-top:6%;
}

.button1, .button2{
    font-weight: bold;
    font-size: 18px;
    color: white;    
    text-align: center;
    background-color: blue;
    display: inline-block;    
    margin-top:6%;
    margin-left:32%;    
    width: 36%;
    padding: 6px;
    border-radius: 25% 25% 25% 25%;
    border-color: transparent;

    
}
.button2{
    background-color: green;
   
}
#button1{
    margin: auto;
}
.h2-1 {
  font-weight: bold; 
  font-size: 15px;
  color: blue;
  text-align: center;
  margin:auto;
  margin-top: 30px;
  color:blue;
}
#or{
    margin: auto;
    text-align: center;
    margin-top: 35px;
}
 h2:before{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: silver;
    position: absolute;
    top:99%;
    left: 18%;
    margin: auto;
    max-width: 75px;
    

   
}

 h2:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: silver;
    position: absolute;
    top:99%;
    right: 66%;
    margin: auto;
    max-width: 75px;
}
a{
    text-decoration: none;
   
}
.button2{
background-color: green;
color: white;
}
   
@media (max-width:700px) {
   #container{
       display:none;
   } 
}