html{
 box-sizing: inherit;
 font-family: sans-serif;
}

body{
    margin: 0 auto;
    width: 300px;
    height:550px ;
    position:fixed;
    

}  

#container{
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color:#eee;
}

.fb-logo{
    width: 100%;
    height: 150px;
    display:flex;
    top: 0px;
    left: 0px;
    right: 0;
}

#language-option{
    margin-left: 5px;
    padding:1px;
}
#detail{
  padding: 2px; 
  align-items: center; 
  margin: auto;
}

 #first-form {
    
    align-items: center;
    margin-top: 14%;
    margin: auto;
    
}
input{
    text-align: center;
    width: 35%;
    margin:auto;
    padding: 6px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: right;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid blue;
    margin-top:6%;
}

.button1, .button2{
    font-weight: bold;
    font-size: 18px;
    color: white;    
    text-align: center;
    background-color: blue;
    display: inline-block;    
    margin-top:6%;
    margin-left:32%;    
    width: 36%;
    padding: 6px;
    border-radius: 6% 6% 6% 6%;
    border-color: transparent;

    
}
.button2{
    background-color: green;
   
}
#button1{
    margin: auto;
}
.h2-1 {
  font-weight: bold; 
  font-size: 15px;
  color: blue;
  text-align: center;
  margin:auto;
  margin-top: 30px;
  color:blue;
}
#or{
    margin: auto;
    text-align: center;
    margin-top: 35px;
}
 
a{
    text-decoration: none;
   
}
.button2{
background-color: green;
color: white;
}
  
@media (max-width: 300px) {
    #container {
      width:500px;
      height: 550px;
      align-items: center;
      margin: 0;
    }
    }